.hero-slider {
	position: absolute;
	width: 73%;
	height: 100%;
	left: 1%;
	top: 2.1%;
}
.hero-slider.owl-carousel2 .owl-dots {
	position: absolute;
	left: 0;
	bottom: 30px;
	width: 100%;
	text-align: center;
}
.hero-slider.owl-carousel2 .owl-dots button {
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: 0.5;
	border-radius: 70%;
	margin-right: 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.hero-slider.owl-carousel2 .owl-dots button.active {
	width: 30px;
	border-radius: 50px;
	opacity: 1;
}
.hero-slider.owl-carousel2 .owl-dots button:last-child {
	margin-right: 0;
}
.hero-slider .owl-stage-outer, .hero-slider .owl-stage, .hero-slider .owl-item, .hero-slider .hs-item {
	height: 100%;
}